{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-md-8">
                {% for checkbox in project.projectCheckboxes %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="form-check">
                                <input {% if checkbox.isComplete %}checked{% endif %} class="form-check-input"
                                       type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    {{ checkbox.task }}
                                </label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header between">
                        <div><b>{{ project.title }}</b></div>
                        <div class="text-muted">{{ project.date|date('d.m.y') }}</div>
                    </div>
                    <div class="card-body between">
                        <div class="text-center">
                            <div>{{ project.currentFramework }}</div>
                            <div>
                                <span class="badge bg-dark">{{ project.currentPhpVersion }}</span></div>
                        </div>
                        <div>
                            <i class="material-icons">trending_flat</i>
                        </div>
                        <div class="text-center">
                            <div>{{ project.desiredFramework }}</div>
                            <div>
                                <span class="badge bg-dark">{{ project.desiredPhpVersion }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
