{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-3">

            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        Create a new project to begin the migration process
                    </div>
                    <div class="card-body">
                        <a class="btn btn-dark btn-block" href="{{ path('project.new') }}">
                            create project
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row justify-content-center">
                    {% for project in projects %}
                        <div class="col-md-12">
                            <div class="card mb-3">
                                <div class="card-header between">
                                    <div>
                                        <a class="icon-btn-link" href="{{ path('project.remove', {"id":project.id}) }}">
                                            <i class="material-icons">close</i>
                                        </a>
                                    </div>
                                    <div>
                                        <div><b>{{ project.title }}</b></div>
                                        <div class="small text-muted text-right" title="created on">{{ project.startDate|date('d.m.y') }}</div>
                                    </div>
                                </div>
                                <div class="progress card-header-progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{ project.progress(project) }}%;" aria-valuenow=""
                                         aria-valuemin="0" aria-valuemax="100">{{ project.progress(project) }}%</div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item between">
                                        <div class="text-center">
                                            <div class="">{{ project.currentFramework|capitalize }}</div>
                                            <div class="badge bg-dark">PHP {{ project.currentPhpVersion }}</div>
                                        </div>
                                        <i class="material-icons">arrow_right_alt</i>
                                        <div class="text-center">
                                            <div class="">{{ project.desiredFramework|capitalize }}</div>
                                            <div class="badge bg-dark">PHP {{ project.desiredPhpVersion }}</div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="card-footer text-right between justify-content-end">
                                    <a class="icon-btn-link" href="{{ path('project.show', {"id":project.id}) }}">
                                        <i class="material-icons">arrow_forward</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
